
RewriteEngine On
RewriteCond %{HTTP_HOST} ^django\.tycs\.in$ [NC]
RewriteRule ^ - [L]

#this redirect your https request to http
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]
